modal{
    width:500px;
}
.jumbotron{
    background-image: url("https://media.giphy.com/media/Ah3zHH7hvsSB2/giphy.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    height: 500px;
    background-color: #fc6621;
    color: white;
    text-align: center;
}

html{
    font-family: 'Prompt', sans-serif;
    background-image: url("../images/hack.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 2000px;
    position:relative;
}

body {
    font-family: 'Prompt', sans-serif;
    background-image: url("../images/hack.jpg");

    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    
    position:relative;
  }


.uk-button{
    margin-left: 40%;
}
